//Declarar antes ya que pueden ser utilizadas adelante.

@import "./lib/variables";
@import "./lib/buttons";
@import "./lib/header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 2fr;
}

.main {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
