//Declarar antes ya que pueden ser utilizadas adelante.

//Importar todos los parciales:
// 1. Variables:

@import "./lib/variables";

// 2. Mixins

@import "./lib/mixins";

// Elementos HTML:
@import "./lib/layout";
@import "./lib/buttons";
@import "./lib/header";
